{% include 'header' %}

<main>
	<section class="about-hero">
		<div class="container">
			<div class="about-hero__box">
				<ol class="breadcrumbs list-reset" itemscope="" itemtype="http://schema.org/BreadcrumbList">
					<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
						<a class="breadcrumbs__link" itemprop="item" href="/">
							<span itemprop="name">Главная</span></a>
						<meta itemprop="position" content="1">
					</li>
					<li class="" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
						<a class="breadcrumbs__current" itemprop="item" href="#">
							<span itemprop="name">О&nbsp;компании</span></a>
						<meta itemprop="position" content="2">
					</li>
				</ol>
				<h1 class="about-hero__title">
					ООО «Вершина-Инженерные изыскания»
				</h1>




				<div class="about-hero__content">
					<p>ООО "Вершина-Инженерные изыскания" выполняет все виды инженерных изысканий для обеспечения исходными данными проектных работ и&nbsp;работы по&nbsp;сопровождению строительства. Мы&nbsp;имеем все необходимые СРО, оборудование и&nbsp;специалистов для реализации задач любой сложности в поставленные сроки. Будем рады видеть Вас среди наших клиентов!</p>					</div>
				<p class="about-hero__special">
					Достигайте вершин вместе с нами!					</p>




			</div>
		</div>
		<div class="about-hero__img-box">
			<img class="about-hero__img" src="/site/theme/images/about_hero_bg.jpg" alt="">
		</div>

	</section>
	<div class="regalia">
		<div class="container">
			<div class="regalia__wrapper">
				<ul class="about__list regalia-list list-reset">
					<li class="regalia__item">
						<div class="regalia__title">
							200+
						</div>
						<p class="regalia__text">
							реализованных <br>
							проектов в&nbsp;2021-2022
						</p>
					</li>
					<li class="regalia__item">
						<div class="regalia__title">
							50+
						</div>
						<p class="regalia__text">
							объектов введено <br>
							в&nbsp;эксплуатацию
						</p>
					</li>
					<li class="regalia__item">
						<div class="regalia__title">
							40+
						</div>
						<p class="regalia__text">
							объектов в&nbsp;работе
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<section class="team">
		<div class="container">
			<div class="team__top-box">
				<h2 class="team__title title">
					Наша команда
				</h2>
				<div class="team__btn-box">
					<div class="swiper-button-prev team-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-ff279a3703efe989" aria-disabled="true"></div>
					<div class="swiper-button-next team-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-ff279a3703efe989" aria-disabled="false"></div>
				</div>
			</div>
			<div class="swiper swiper-container team-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
				<div class="swiper-wrapper" id="swiper-wrapper-ff279a3703efe989" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">



					<div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 273px; margin-right: 24px;" role="group" aria-label="1 / 6">
						<div class="team-slider__img-box">
							<img class="team-slider__img" src="/site/theme/images/2519189.jpg" alt="">
						</div>
						<div class="team-slider__content">
							<h3>
								Алексей Быкадоров								</h3>
							<div>
								Генеральный директор								</div>
							<p>
								</p><p>Руководитель компании. Отвечает за организацию работы команды, достижение kpi, взаимодействие с органами власти и заказчиками. Контролирует согласовательные процессы, соблюдение сроков и экономическую эффективность. Курирует создание собственной ГИС системы.&nbsp;<br>&nbsp;</p>								<p></p>
						</div>
					</div>



					<div class="swiper-slide swiper-slide-visible swiper-slide-next" style="width: 273px; margin-right: 24px;" role="group" aria-label="2 / 6">
						<div class="team-slider__img-box">
							<img class="team-slider__img" src="/site/theme/images/2426099.jpg" alt="">
						</div>
						<div class="team-slider__content">
							<h3>
								Максим Овсянников								</h3>
							<div>
								Главный инженер								</div>
							<p>
								</p><p>Занимается организацией инженерных изысканий, отвечает за взаимодействие с заказчиком и экспертизой, контролирует качество и эффективность деятельности команды.&nbsp;<br>&nbsp;</p>								<p></p>
						</div>
					</div>



					<div class="swiper-slide swiper-slide-visible" style="width: 273px; margin-right: 24px;" role="group" aria-label="3 / 6">
						<div class="team-slider__img-box">
							<img class="team-slider__img" src="/site/theme/images/2322360.jpg" alt="">
						</div>
						<div class="team-slider__content">
							<h3>
								Иван Сас								</h3>
							<div>
								Начальник отдела								</div>
							<p>
								</p><p>Руководит выполнением обследований зданий и сооружений, геотехнических расчетов, организует слаженную и эффективную работу отдела.&nbsp;<br>&nbsp;</p>								<p></p>
						</div>
					</div>



					<div class="swiper-slide swiper-slide-visible" style="width: 273px; margin-right: 24px;" role="group" aria-label="4 / 6">
						<div class="team-slider__img-box">
							<img class="team-slider__img" src="/site/theme/images/2217482.jpg" alt="">
						</div>
						<div class="team-slider__content">
							<h3>
								Анна Кузьмина								</h3>
							<div>
								Ведущий инженер по обследованиям								</div>
							<p>
								</p><p>Выполняет обследования зданий и сооружений, отвечает за подготовку отчетов, поверочные расчеты, подсчет объемов и защиту в Мосгосэкспертизе.&nbsp;<br>&nbsp;</p>								<p></p>
						</div>
					</div>



					<div class="swiper-slide" style="width: 273px; margin-right: 24px;" role="group" aria-label="5 / 6">
						<div class="team-slider__img-box">
							<img class="team-slider__img" src="/site/theme/images/217388.jpg" alt="">
						</div>
						<div class="team-slider__content">
							<h3>
								Александра Ковалева								</h3>
							<div>
								Инженер-геолог								</div>
							<p>
								</p><p>Занимается организацией геологических работ, гидрографическими расчетами, составляет отчеты по инженерно-геологическим изысканиям, защищает материалы в Мосгосэкспертизе.&nbsp;<br>&nbsp;</p>								<p></p>
						</div>
					</div>



					<div class="swiper-slide" style="width: 273px; margin-right: 24px;" role="group" aria-label="6 / 6">
						<div class="team-slider__img-box">
							<img class="team-slider__img" src="/site/theme/images/2015205.jpg" alt="">
						</div>
						<div class="team-slider__content">
							<h3>
								Дмитрий Толмачев								</h3>
							<div>
								Старший инженер-геодезист								</div>
							<p>
								</p><p>Отвечает за организацию полевых геодезических работ, работ по сопровождению строительства и аэрофотосъемке.</p>								<p></p>
						</div>
					</div>





				</div>
			<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
		</div>
	</section>
	<section class="history">
		<div class="container">
			<div class="history__box">
				<h2 class="history__title title">
					Наша философия
				</h2>
				<div class="history__date-box">

					<button class="history__btn btn-reset active" data-tab="#tab_1">1</button>

							<button class="history__btn btn-reset" data-tab="#tab_2">2</button>

							<button class="history__btn btn-reset" data-tab="#tab_3">3</button>



				</div>





				<div class="history__list active" id="tab_1">
					<div class="history__wrapper">
						<div class="history__img-box">
							<img class="history__img" src="/site/theme/images/143547.jpg" alt="">
						</div>
						<div class="history__content">
							<div>
								Честность и качество								</div>
							<h3>
								Чтобы быть на вершине - необходимо быть лучшим. Именно поэтому наши основные принципы - это профессионализм, качество работ, ответственность и честность. 								</h3>
							<p>
								</p><p>Мы соотносим наши действия с нашими словами и честно выполняем свои обещания. Нам крайне важна качественная реализация заказанных нам работ, поэтому весь процесс вплоть до мельчайших деталей курируется непосредственно руководством компании. &nbsp;</p><p>Мы строим репутацию нашей компании через доверие!</p>								<p></p>
						</div>
					</div>
				</div>



				<div class="history__list" id="tab_2">
					<div class="history__wrapper">
						<div class="history__img-box">
							<img class="history__img" src="/site/theme/images/1712955.png" alt="">
						</div>
						<div class="history__content">
							<div>
								Индивидуальная проработка каждого объекта 								</div>
							<h3>
								Каждый проект - уникален, по этому мы индивидуально прорабатываем и предлагаем подходящее решение именно для этого объекта.								</h3>
							<p>
								</p><p>Нам доверяют крупные государственные заказчики, и мы всегда оправдываем оказанное доверие.</p><p>&nbsp;</p>								<p></p>
						</div>
					</div>
				</div>



				<div class="history__list" id="tab_3">
					<div class="history__wrapper">
						<div class="history__img-box">
							<img class="history__img" src="/site/theme/images/1821044.jpg" alt="">
						</div>
						<div class="history__content">
							<div>
								Долгосрочное сотрудничество и партнерство								</div>
							<h3>
								Участвуя в реализации проекта, мы становимся частью команды заказчика, а не просто подрядчиком.  И основная цель команды - обеспечение успеха наших партнёров. 								</h3>
							<p>
								</p><p>Наша цель - долгосрочное сотрудничество на взаимовыгодных условиях, а не разовое получение прибыли.</p><p>Наша команда специалистов готова выполнить все виды инженерных изысканий и работ по сопровождению строительства.</p><p>&nbsp;</p><p><i><strong>Обращаясь к нам, вы получаете уверенность в результате и надёжного партнёра, которому можно доверять!</strong></i></p>								<p></p>
						</div>
					</div>
				</div>




			</div>
		</div>
	</section>
	<section class="question">
		<div class="container">
			<div class="question__img-box">
				<img class="question__img" src="/site/theme/images/question_img.jpg" alt="">
			</div>
			<form action="../mail.php" enctype="multipart/form-data" class="question__form" method="POST">
				<input type="hidden" name="form_subject" value="Заявка">
				<input type="hidden" name="admin_email[]" value="info@v-es.ru">
				<div class="question__content">
					<h2 class="question__title title">Остались вопросы?</h2>
					<p class="question__descr">
						Заполните форму обратной связи, и&nbsp;мы&nbsp;свяжемся с&nbsp;Вами, чтобы ответить
						на&nbsp;все вопросы
					</p>
				</div>
				<div class="question__boby">
					<label class="">
						<span class="visually-hidden">Введите свое имя</span>
						<input class="question__data" type="text" name="Имя" placeholder="Введите свое имя">
					</label>
					<label class="">
						<span class="visually-hidden">Введите свой e-mail</span>
						<input class="question__data" type="e-mail" name="Емейл" placeholder="Введите свой e-mail" required="">
					</label>
					<label class="">
						<span class="visually-hidden">Введите свой телефон</span>
						<input class="question__data" type="tel" name="Телефон" placeholder="Введите свой телефон" required="" inputmode="text">
					</label>
					<div class="select-wrapper">
						<label class="select-label">
							<span class="visually-hidden">Выбрать услугу</span>
							<select class="question__data ">
								<option value="любая">Любая услуга</option>
								<option value="Инженерно-геологические изыскания">Инженерно-геологические изыскания
								</option>
								<option value="Инженерно-геодезические изыскания">Инженерно-геодезические изыскания
								</option>
								<option value="Геотехнические изыскания">Геотехнические изыскания</option>
								<option value="Геодезическое сопровождение строительства">Геодезическое
									сопровождение строительства</option>
								<option value="Аэрофотосъемка местности">Аэрофотосъемка местности</option>
								<option value="Обследование зданий и сооружений">Обследование зданий
									и&nbsp;сооружений
								</option>
								<option value="Работа с ГБУ «Мосгоргеотрест»">Работа с&nbsp;ГБУ
									«Мосгоргеотрест»</option>
								<option value="Работа с «МосгорБТИ»">Работа с&nbsp;«МосгорБТИ»</option>
							</select>
						</label>
					</div>
				</div>
				<div class="question__btn-box">
					<button class="question__btn btn-main btn btn-reset" type="submit">Отправить</button>
				</div>
				<p class="form-text">
					Нажимая кнопку «Отправить», Вы&nbsp;даете согласие на&nbsp;<a class="form__personal-link" href="#">обработку персональных данных</a>
				</p>
			</form>
		</div>
	</section>
</main>

<script src="/site/theme/js/tabs.js"></script>

{% include 'footer' %}