{% include 'header' %}

<main>
		<div class="container">
			<ol class="breadcrumbs list-reset" itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
					<a class="breadcrumbs__link" itemprop="item" href="/">
						<span itemprop="name">Главная</span></a>
					<meta itemprop="position" content="1">
				</li>
				<li class="" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
					<a class="breadcrumbs__current" itemprop="item" href="#">
						<span itemprop="name">Контакты</span></a>
					<meta itemprop="position" content="2">
				</li>
			</ol>
		</div>
		<section class="contact">
			<div class="container">
				<h1 class="contact__title title">
					Контакты компании
				</h1>
				<ul class="contact__list list-reset">
					<li class="contact__item">
					
					
											<p class="contact__adress contact__icon">
							109316, г. Москва, Волгоградский пр-кт, 2						</p>
						
							
						
					</li>
					<li class="contact__item">
					
					
						
						<a class="contact__mail contact__icon" href="mailto:info@v-es.ru">
							info@v-es.ru						</a>
							
						
						
					</li>
					<li class="contact__item">
					
						
					
						<a class="contact__phone contact__icon" href="tel:74956376109">
							8 (495) 637-61-09						</a>
						
							
						
					</li>
				</ul>
				<div id="wrapMap">
					<div class="footer__map">
						<iframe src="https://yandex.ru/map-widget/v1/?lang=ru_RU&amp;scroll=false&amp;um=constructor%3Ac672d2161cb5833624902689373be9fd1864c205e219afaba6ec3b8b245426db" frameborder="0" allowfullscreen="true" width="100%" height="100%" style="display: block;"></iframe>
					</div>
				</div>
			</div>
		</section>
	</main>

{% include 'footer' with { 'noMap': true } %}