{% include 'header_lk' %}

<main>
	<section class="hero">
		<div class="cont">
			<div class="hero__container container">
				<div class="hero__content">
					<div class="hero__subtitle">ЦИФРОВАЯ ПЛАТФОРМА ЗНАНИЙ</div>
					<h1 class="hero__title">АгроЭкоМиссия</h1>
					<div class="hero__descr">
						Отраслевая система подготовки и обучения
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

{% include 'footer_lk' %}