{% if user %}

{% set pageObj = {
	id: page.id,
	field_image: page.field_image,
	field_header: page.field_header,
	field_synology: page.field_synology,
	field_is_synology: page.field_is_synology,
	field_calendar_gallery: page.field_calendar_gallery
} %}

{% include 'header_lk' %}
<div class="lk" id="lk">
	<section class="lk-opage" id="lk-object-page" data-json="{$ pageObj|json_encode() $}">
		<div class="container">
			<div class="lk-opage__wrapper">
				<div class="lk-opage__header">
					<h1 class="lk-opage__title">{{ objectPageData.field_header }}</h1>
					{% if user.field_is_employee %}
					{% if not user.field_is_not_editor %}
					<div class="lk-opage__header-actions">
						<button @click.stop="isEditMode = !isEditMode" :class="{'lk-btn--color-blue': isEditMode}" class="lk-btn">Редактировать</button>
						<form v-show="isEditMode" data-action="/user/pages/{$ page.id $}" id="js-opage-form" ref="js-opage-form" method="post" @submit.prevent="saveChanges">
							<input name="_method" class="hidden" type="hidden" value="put">
							<input class="hidden" id="user_id" name="user_id" placeholder="User ID" type="text" value="{$ user.id $}">
							<input class="hidden form-control field--border" name="field_header" type="text" :value="objectPageData.field_header" placeholder="Название">
							<input class="hidden form-control field--border" name="field_image" type="text" :value="objectPageData.field_image" placeholder="Изображение">
							<input class="hidden form-control field--border" name="field_synology" type="text" :value="objectPageData.field_synology" placeholder="Название">
							<input class="hidden form-control field--border" name="field_is_synology" type="text" :value="String(Number(objectPageData.field_is_synology))" placeholder="Название">
							<textarea class="hidden" name="field_calendar_gallery">{{ JSON.stringify(objectPageData.field_calendar_gallery) }}</textarea>
							<button type="submit" class="lk-btn lk-btn--color-blue">Сохранить</button>
						</form>
					</div>
					{% endif %}
					{% endif %}
				</div>

				<div class="lk-opage-gallery-edit">
					
					{% if not user.field_is_not_editor %}
					<div class="lk-opage-gallery-edit" v-show="isEditMode">
						<div class="lk-opage-gallery-edit__fields">
							<div class="lk-input__group">
								<div class="lk-input">
									<div class="lk-input__label">Название</div> 
									<input type="text" v-model="objectPageData.field_header" class="lk-input__input">
								</div>
								<div class="lk-input">
									<div class="lk-input__label">Ссылка на Synology</div> 
									<input type="text" v-model="objectPageData.field_synology" class="lk-input__input">
								</div>
								<div class="lk-input lk-input--img">
									<div class="lk-input__label">Изображение</div> 
									<input v-if="!objectPageData.field_image" value="Загрузить" type="button" @click.stop="onNewObjectFormImageButtonClick" class="lk-input__input lk-btn--color-blue">
									<img v-else :src="'/site/data/images/medium/' + objectPageData.field_image" @click.stop="onNewObjectFormImageButtonClick">
									<input type="file" class="hidden" ref="lk-object-new" id="lk-object-new" @change.stop="$event => onImageUpload2($event)">
								</div>
								<div class="lk-input">
									<div class="lk-input__label">Использовать ссылку на Synology</div> 
									<div class="checkbox checkbox--sided">
										<input type="checkbox" id="is-use-synology" v-model="objectPageData.field_is_synology" class="">
										<label for="is-use-synology">
											Нет
											<div class="checkbox-switcher">
												<div class="checkbox-switcher__inner"></div>
											</div>
											Да
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="lk-opage-gallery-header">
							{% if not user.field_is_not_editor %}<div class="lk-input__label">Фотогалерея</div> {% endif %}
							<div class="lk-opage-gallery-header__tabs" :class="{'lk-opage-gallery-header__tabs--center': !isEditMode}">
								<div class="lk-opage-gallery-header__tab lk-btn" 
									 :class="{'lk-btn--color-blue': selectedGalleryDay == item}"
									 @click.stop="selectedGalleryDay = item" 
									 :key="item.date" 
									 v-for="item in galleryItems">
									{{ formatDate(item.date) }}
									{% if not user.field_is_not_editor %}
									<div class="lk-opage-gallery-header__tab-delete" @click.stop="deleteGalleryDay(item.date)" v-show="isEditMode">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="close"><path d="M13.41,12l6.3-6.29a1,1,0,1,0-1.42-1.42L12,10.59,5.71,4.29A1,1,0,0,0,4.29,5.71L10.59,12l-6.3,6.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l6.29,6.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"></path></svg>
									</div>
									{% endif %}
								</div>
								{% if not user.field_is_not_editor %}
								<div v-show="isEditMode">
									<v-date-picker 
									   :disabled-dates="disabledDates"
									   :value="objectNewDay" 
									   @input="setObjectDay"
									   >
										<template v-slot="{ inputValue, togglePopover }">
											<button class="lk-opage-add-day lk-btn lk-btn--wicon" @click="togglePopover()">
												<svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="nofill"><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z"></path></svg>
											</button>
										</template>
									</v-date-picker>
								</div>
								
								{% endif %}
							</div>
						</div>
						<div class="lk-opage-gallery-edit__images" v-if="selectedGalleryDay">
							<div class="lk-opage-gallery-edit__image lk-opage-gallery-edit__image--add" @click.stop="onAddImageClick('lk-object-image-input-' + selectedGalleryDay.date)">
								<svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="nofill"><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z"></path></svg>
							</div>
							<div class="lk-opage-gallery-edit__image" v-for="image in selectedGalleryDay.images">
								<img :src="'/site/data/images/medium/' + image">
								<div class="lk-opage-gallery-edit__image-delete" @click.stop="deleteGalleryDayImage(image)">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="close"><path d="M13.41,12l6.3-6.29a1,1,0,1,0-1.42-1.42L12,10.59,5.71,4.29A1,1,0,0,0,4.29,5.71L10.59,12l-6.3,6.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l6.29,6.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"></path></svg>
								</div>
							</div>
							<input type="file" class="hidden" :ref="'lk-object-image-input-' + selectedGalleryDay.date" :id="'lk-object-image-input-' + selectedGalleryDay.date" @change.stop="$event => onImageUpload(selectedGalleryDay, $event)">
						</div>
					</div>
					{% endif %}
					
				</div>
				
				<template v-if="objectPageData.field_is_synology">
					<div style="overflow: hidden;">
					<iframe src="{$ page.field_synology $}" width="100%" height="600" style="border: 0;margin-top: -63px;" align="left">
					 Ваш браузер не поддерживает плавающие фреймы!
					</iframe></div>
				</template>
				
				<template v-else>
					<div class="lk-opage-gallery" v-if="selectedGalleryDay">
						<div class="lk-opage-gallery-header" v-show="!isEditMode">
							<div class="lk-opage-gallery-header__tabs" :class="{'lk-opage-gallery-header__tabs--center': !isEditMode}">
								<div class="lk-opage-gallery-header__tab lk-btn" 
									 :class="{'lk-btn--color-blue': selectedGalleryDay == item}"
									 @click.stop="selectedGalleryDay = item" 
									 :key="item.date" 
									 v-for="item in galleryItems">
									{{ formatDate(item.date) }}
								</div>
								
							</div>
						</div>
						<div class="lk-opage-gallery-slider splide">
							<div class="splide__track">
								<div class="splide__list">
									<a :href="'/site/data/images/large/' + image" data-fancybox="gallery" class="splide__slide lk-opage-gallery-slide" v-for="image in selectedGalleryDay.images">
										<img :src="'/site/data/images/large/' + image">
									</a>
								</div>
							</div>
						</div>
						<div class="lk-opage-gallery-slider-nav splide">
							<div class="splide__track">
								<div class="splide__list">
									<img 
										 class="splide__slide lk-opage-gallery-slide-nav" 
										 v-for="image in selectedGalleryDay.images"
										 :src="'/site/data/images/large/' + image">
								</div>
							</div>
						</div>
					</div>
				</template>
			</div>
		</div>
	</section>

</div>

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
/>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
{% include 'footer_lk' %}
<script src='https://unpkg.com/v-calendar'></script>


{% else %}
	<script>
		location.href = location.origin + '/?login=yes'
	</script>
{% endif %}