{% include 'header_lk' %}

<div class="lk" data-user-id="{$ user.id $}">
	<div class="lk__layout">
		<div class="lk-menu">
			{% include 'menu_lk' with {rolename: user.role.name} %}
		</div>
		<div class="lk-content">
			<div class="lk-content-header">
				<div class="lk-content-header__block">
					<h1>Пользователи</h1>
				</div>
			</div>
			
			<div class="hw-filters">
				<div class="hw-filter">
					<input type="text" placeholder="Поиск" v-model="search" class="q-input">
				</div>
				
				<div class="hw-filter">
					<select-filter
						:items="ROLES"
						:selected-items="filters.roles"
						:text-field="'name_ru'"
						:title="'Роли'"
						@set-item="payload => setFilter(filters.roles, payload)"
					></select-filter>
				</div>
			</div>
			
			<div class="lk-qlist">
				<div class="lk-qlist-item" v-for="item in filteredUsers">
					<div class="lk-qlist-item__block">
						<div class="lk-qlist-item__title">
							<template v-if="item.field_fullname">
								{{item.field_fullname}}
							</template>
							<template v-else>
								ФИО
							</template>
						</div>
					</div>
					<div class="lk-qlist-item__block">
						<div class="lk-qlist-item__actions" v-if="canEditUser(item)">
							<select class="q-select" v-model="item.field_role_id">
								<option v-for="opt in filteredRoles" :value="opt.id">{{opt.name_ru}}</option>
							</select>
							
							<div>
								<input type="checkbox" v-model="item.active" :id="'user-active-' + item.id" :name="'user-active-' + item.id">
								<label :for="'user-active-' + item.id">Пользователь активен</label>
							</div>
							<button class="mbtn mbtn--color-orange mbtn--size-s" @click.stop="saveUser(item)">Сохранить</button>
						</div>
						<div v-else>
							Администратор
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

{% include 'footer_lk' %}
<script src="/site/theme/js/lk_users.js" type="module"></script>