{% include 'header_lk' %}

{% set isEditMode = request.input.edit == '1' %}
{% set isUserCanEdit = user.role.name != 'student' %}

<div class="lk" data-user-id="{$ user.id $}">
	<div class="lk__layout">
		<div class="lk-menu">
			{% include 'menu_lk' with {rolename: user.role.name} %}
		</div>
		<div class="lk-content" v-if="page">
			{% if isEditMode and isUserCanEdit %}
			
			<div class="lk-content-header">
				<div class="lk-content-header__block">
					<h1>{{ page.field_header }}</h1>
				</div>
				<div class="divider"></div>
				<div class="lk-content-header__block">
					<div class="lk-content-actions">
						<button class="mbtn mbtn--color-orange" @click.stop="onSaveChangesButtonClick">Сохранить</button>
					</div>
				</div>
			</div>
			<div class="page-edit">
				<div class="page-edit-block page-edit-block--grid2">
					<div class="page-edit-input">
						<label class="page-edit-input__label">Название</label>
						<input type="text" v-model="page.field_header">
					</div>
					<div class="page-edit-tb">
						Максимальный балл за тест - {{testMaxRate}}
						<div class="page-edit-input">
							<label class="page-edit-input__label">Проходной балл</label>
							<input type="number" v-model.number="page.field_passing_score">
						</div>
					</div>
				</div>
				
				<div class="page-edit-block">
					<div class="page-edit-test">
						<button class="mbtn mbtn--color-orange" @click.stop="addNewTestItem">Создать новое задание</button>
						<div class="page-edit-test__list">
							<test-item
								v-for="q in page.field_test_questions"
								:key="q.id"
								:item="q"
								@delete-item="deleteTestItem"
							></test-item>
							{#
							<div class="page-edit-test-item" v-for="q in page.field_test_questions">
								<div class="page-edit-test-item__title">
									<div class="page-edit-input">
										<label class="page-edit-input__label">Задание</label>
										<input type="text" v-model="q.question.title">
									</div>
								</div>
								<div class="page-edit-test-item__questions">
									<div class="page-edit-test-item__question" v-for="question in q.question.items">
										<div class="page-edit-input">
											<label class="page-edit-input__label">Вопрос</label>
											<input type="text" v-model="question.text">
										</div>
									</div>
									<button class="mbtn mbtn--color-orange" @click.stop="addNewQuestionVariantToTestItem(q)">Добавить вопрос</button>
								</div>
								<div class="page-edit-test-item__variants">
									<div class="page-edit-test-item__variants-list">
										<div class="page-edit-test-item__variant" v-for="v in q.variants">
											<input type="checkbox" v-model="v.isCorrect" :id="'question-' + q.id + '-variant-' + v.id">
											<label :for="'question-' + q.id + '-variant-' + v.id">
												Верный ответ
											</label>
											<input type="text" class="q-input" v-model="v.text" placeholder="Текст">
											<input type="number" v-model.number="v.rate" placeholder="Баллы" min="0">
										</div>
									</div>
									<div class="page-edit-test-item__variants-new">
										<button class="mbtn mbtn--color-orange" @click.stop="addNewVariantToQuestion(q)">Добавить вариант ответа</button>
									</div>
								</div>
							</div>
							#}
						</div>
						
					</div>
				</div>
				
				
				<form data-action="/user/pages/{$ page.id $}" class="js-edit-form hidden" method="post" ref="js-opage-form" method="post" @submit.prevent="saveChanges">
					<input name="_method" type="hidden" value="put">
					<input class="hidden" id="user_id" name="user_id" placeholder="User ID" type="text" value="{$ user.id $}">
					
					<textarea name="field_test_questions">{{JSON.stringify(page.field_test_questions)}}</textarea>
					<input type="text" name="field_header" :value="page.field_header">
					<input type="text" name="active" :value="Number(page.active)">
					<input type="text" name="field_passing_score" :value="page.field_passing_score">
					
					<button ref="save-changes-form-button">save</button>
				</form>
			</div>
			
			{% else %}
			
			{% endif %}
		</div>
	</div>
</div>

{% include 'footer_lk' %}
<script src="/site/theme/js/lk_test.js" type="module"></script>