<div class="modal" data-modal="login">
	<div class="cont">
		<div class="modal__wrapper">
			<div class="modal__inner">
				<button class="modal__closer">×</button>
				<div class="modal__content">
					<form action="/auth/login" class="auth js-auth-form" method="post">
						<h2 class="form__title title-medium">Авторизация</h2>
						<!--div style="margin-bottom: 20px;">
							<button class="js-test-auth" type="button" data-login="admin" data-password="12345678">admin</button>
							<button class="js-test-auth" type="button" data-login="teacher" data-password="12345678">teacher</button>
							<button class="js-test-auth" type="button" data-login="student" data-password="12345678">student</button>
						</div-->
						<div class="form__wrapper">
							<div class="form-group">
								<div class="form-group-input">
									<label class="form-label">Логин</label>
									<input class="form__data form-control" name="login" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="form-group-input">
									<label class="form-label">Пароль</label>
									<input class="form__data form-control" name="password" type="password">
								</div>
							</div>
							<div class="form-group form-group--tac">
								<button class="mbtn" type="submit">Войти</button>
							</div>

							<div class="form-group form-group--tac">
								<a href="#" class="link" data-modal-trigger="reg">Зарегистрироваться</a>
							</div>
							<div class="form-group hidden">
								<a href="#" class="mbtn mbtn--flat js-pas">Забыли пароль?</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>