.block.position-none .module-body {
	background: url(/site/theme/images/n_hero_bg.jpg) no-repeat center / cover;
}

.lk {
	background: transparent;
	position: relative;
	z-index: 1;
}

.header {
    background: transparent;
}

.header-lk__menu {
	z-index: 2;
}

.lk-menu {
    background: rgb(0 0 0 / 57%);
    border-radius: 0 10px 10px 0;
    box-shadow: 5px 0px 5px rgb(0 0 0 / 37%);
    height: calc(100vh - 68px);
    overflow: auto;
    position: relative;
    z-index: 1;
    color: #fff;
}

.lk-menu-list__item:not(:last-child) {
    border-bottom: 1px solid #000;
}

.lk-menu-list__item {
	fill: #fff;
}

.lk-menu-list__item:hover {
    background: linear-gradient(119.78deg, #7F31FF 5.17%, #CF00DF 65.8%, #FF56A5 140.53%);
}

.lk-menu-list__item--current:before {
    content: '';
    display: block;
    position: absolute;
    width: 7px;
    height: 120px;
    top: calc(50% - 60px);
    background: #fff;
    left: 0;
    border-radius: 0 10px 10px 0;
}

.lk-menu-list__item--current {
    color: #fff;
    fill: #fff;
	background: linear-gradient(119.78deg, #7F31FF 5.17%, #CF00DF 65.8%, #FF56A5 140.53%);
}

.footer {
    margin-top: -280px;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    pointer-events: none;
}

.lk-content-header h1 {
	 color: #fff;
}

.lk-card--new,
.lk-list-item--new {
	color: #fff;
	border-color: #fff;
}

.lk-card--new:hover,
.lk-list-item--new:hover {
	background: linear-gradient(119.78deg, #7F31FF 5.17%, #CF00DF 65.8%, #FF56A5 140.53%);
	border-color: transparent;
}

.checkbox-filter label,
.filter-select__trigger {
	 color: #fff;
}

.lk-block-tags,
.lk-block-desc {
	 color: #fff;
}

.q-input {
	background: #fff;
}
.lk-block-actions .lk-card__counter {
    color: #fff;
}
#js-create-item-form select{width: 400px;}
#js-create-item-form select option {margin-top: 10px;}